
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* header */
#header--fixed {
    background-color: blanchedalmond;
    margin: 0;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#header--fixed h1 {
    margin: 0 0 0 20px;
    background-color: burlywood;
}

#header--fixed .header-logo {
    height: 60px;
    vertical-align: bottom;
}

.global-navi ul{
    height: 60px;
    margin: 0 auto;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    background-color: aqua;
}

.global-navi ul:after {
    content: "";
    clear: both;
    display: block;
}

.global-navi ul li {
    margin: 0 8px;
    font-size: 14px;
    font-weight: bold;
}

.global-navi ul li img {
    margin: 0 8px;
    max-height: 20px;
}

.global-navi ul li img.global-navi--margin-left {
    margin-left: 20px;
    background-color: cadetblue;
}
/* ↑ liやimgだけだと上手く効かないのはなぜ */

