/* 全般的な設定 */

body {
    color: #272727;
    font-family: "M PLUS 1p", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.max-width-1060 {
    max-width: 1060px;
    margin: 0 auto;
}

.font-size--small {
    font-size: 80%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

/* header */
.header__intro {
    background-color: #f7f7f7;
    height: 32px;
    font-size: 11px;
    padding: 0 10px;
    letter-spacing: 0.1em;
}

.header__intro h1 {
    font-size: 11px;
    padding: 8px 0 3px;
}

.header__intro ul {
    padding-top: 3px;
    margin-left: auto;
}

.header__intro ul li {
    padding-top: 5px;
}

.header__intro ul li a {
    color: #676767;
    border-right: solid 1px #272727;
    padding: 3px 8px;
}

.header__intro a:hover {
    text-decoration: underline;
}

.header__intro ul li:last-child a {
    border: none;
}

.header__intro a.login {
    padding: 8px 8px 7px 33px;
    background: url(images/header/icon_site_mark01.png) no-repeat 7px 5px #d9d9d9;
    background-size: 16px 20px;
    color: #000066;
}

.header__top {
    height: 96px;
    padding: 20px 0;
}

.header__top img {
    height: 28.625px;
    vertical-align: bottom;
}

.header__top h1 img {
    height: 45px;
}

.header__top .tel {
    flex-direction: column;
    margin: 5px 33px 0 auto;
}

.header__top .tel p {
    font-size: 11px;
    color: #8d959c;
    margin: 4px 0 0 31px;
}

.header__top .sns-button {
    margin-top: 14px;
}

.header__top .sns-button img {
    margin-left: 4px;
    width: 30px;
    height: 30px;
}

.global-navi {
    height: 40px;
    font-size: 15px;
    margin-bottom: 20px;
}

.global-navi__left {
    margin: 5px 0;
    letter-spacing: 0.2em;
}

.global-navi__left li:first-child {
    width: 159px;
    height: 31px;
    text-align: center;
    border-left: solid 1px #d9d9d9;
}

.global-navi__left li:last-child {
    border-right: solid 1px #d9d9d9;
}

.global-navi__left a {
    display: block;
    width: 159px;
    height: 31px;
    text-align: center;
    border-left: solid 1px #d9d9d9;
}

.global-navi__left span {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow :hidden;
    margin-top: -3px;
    height: 10px;
}

.global-navi__left a:hover > span.color-change {
    background-position: 50% 100%;
}

.global-navi__left .about-school {
    background: url(images/header/global_nav_btn01_01.png) 50% 100% no-repeat;
}

.global-navi__left .net-course {
    background: url(images/header/global_nav_btn01_02.png) 50% 0 no-repeat;
}

.global-navi__left .commute-course {
    background: url(images/header/global_nav_btn01_03.png) 50% 0 no-repeat;
}

.global-navi__left .alliance-school {
    background: url(images/header/global_nav_btn01_04.png) 50% 0 no-repeat;
}

.global-navi__right {
    margin: 0 0 0 auto;
}

.global-navi__right a {
    display: block;
    width: 168px;
    height: 100%;
    text-align: center;
    color: #1f286f;
    font-weight: bold;
    border: solid 1px #000066;
    padding: 9px 10px 7px;
    margin-left: 10px;
    background: url(images/symbol/icon_arrow01_right_blue01.png) 94% 50% no-repeat;
    background-size: 5px 9px;
}

.global-navi__right a:hover {
    background-color: #000066;
    color: #ffffff;
}

.global-navi__detail {
    background-color: #181836;
    height: 90px;
    position: relative;
}

.global-navi__detail ul::before {
    content: "\025b2";
    color: #181836;
    position: absolute;
    top: -13px;
    left: 235px;
}

.global-navi__detail ul {
    padding: 10px 10px 4px;
}

.global-navi__detail a {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.11em;
    padding: 7px;
    margin: 0 8px 2px 10px;
}

.global-navi__detail li::before {
    content: url(images/symbol/icon_backslash01_black01.png);
    vertical-align: -4px;
}

.global-navi__detail li:first-child::before {
    content: none;
    padding-left: none;
}

.global-navi__detail li:first-child a {
    margin-left: 0;
}

.global-navi__detail li:first-child a::before {
    content: none;
}

.global-navi__detail a:hover {
    background-color: #ffffff;
    color: #181836;
}

/* main */
main h2 {
    min-height: 530px;
    letter-spacing: 0.3em;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    background: url(images/main/about_mainimage01.jpg) 0 0 no-repeat;
    background-size: cover;
    border-bottom: solid 1px #ffffff;
    padding: 50px 10px;
}

main h2 > span {
    text-indent: 100%;
    white-space: nowrap;
    overflow :hidden;
    border-bottom: 1px solid #ffffff;
    display: block;
    width: 180px;
    margin: -65px auto 0;
}

main h2::after {
    content: url(images/main/about_maintitle_ruby01.png);
    display: block;
    transform: scale(0.7);
    margin-top: -8px;
}

.topic-path {
    padding: 20px 10px 18px;
    font-size: 14px;
    margin-bottom: 30px;
    border-bottom: solid 1px #d9d9d9;
}

.topic-path a {
    color: #36538d;
    margin-right: 5px;
}

.topic-path a:hover {
    text-decoration: underline;
}

.topic-path--arrow::before {
    content: "\03e";
    margin-right: 5px;
}

.main__top h3 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 0.2em;
    line-height: 1.8;
    margin: 50px 0 70px;
}

.main__top h4 {
    text-align: center;
    font-size: 23px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.main__top h4::after {
    content: "";
    width: 210px;
    margin: 18px auto 25px;
    display: block;
    border-bottom: 1px solid #272727;
}

.main__top p {
    margin: 0 210px;
    line-height: 1.8;
    letter-spacing: 0.05em;
}

.educational-policy {
    margin-top: 100px;
}

.educational-policy__contents::after{
    content: "";
    clear: both;
    display: block;
}

.educational-policy__contents h3 {
    font-size: 28px;
    background: url(images/symbol/line02_black01.png) left bottom no-repeat;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.educational-policy__contents img {
    float: right;
    margin: 5px -130px 0 0;
    vertical-align: bottom;
}

.educational-policy__contents dl {
    width: 500px;
    margin-top: 50px;
}

.educational-policy__contents dl::after {
    content: "";
    clear: both;
    display: block;
}

.educational-policy__contents dt {
    font-size: 25px;
    padding: 5px 0 5px 0;
    border-right: solid 1px #676767;
    float: left;
    clear: left;
    width: 95px;
    margin-bottom: 20px;
    white-space: nowrap;
}

.educational-policy__contents dt:first-child {
    letter-spacing: 1em;
}

.educational-policy__contents dd {
    margin: 0 0 40px 15px;
    font-size: 16px;
    padding: 10px 0;
    float: left;
    width: 300px;
}

.educational-policy__n-standards {
    background-color: #f7f7f7;
    border: solid 1px #dddddd;
    margin: 80px auto 0 auto;
    padding: 30px 40px;
    width: 685px;
}

.educational-policy__n-standards::after {
    content: "";
    clear: both;
    display: block;
}

.educational-policy__n-standards img {
    float: left;
    margin-right: 20px;
}

.educational-policy__n-standards h4 {
    font-size: 25px;
}

.educational-policy__n-standards p {
    margin-top: 20px;
    line-height: 1.8;
    letter-spacing: 0.05em;
}

.educational-policy__n-standards a:hover > img,
.educational-policy__n-standards a:hover > .read-more {
    opacity: 0.7;
}

.feature-of-nkou {
    margin-top: 80px;
}

.feature-of-nkou h3 {
    font-size: 28px;
    background: url(images/symbol/line02_black01.png) left bottom no-repeat;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.feature-of-nkou article {
    margin-top: 80px;
}

.feature-of-nkou article::after {
    content: "";
    clear: both;
    display: block;
}

.feature-of-nkou article h4 {
    font-size: 24px;
    line-height: 1.8;
}

.feature-of-nkou article img {
    float: right;
    margin-right: 20px;
    vertical-align: bottom;
}

.feature-of-nkou article p {
    margin-top: 25px;
    max-width: 495px;
    line-height: 2;
}

.feature-of-nkou article p:not(.font-size--small)::before {
    content: "";
    display: block;
    width: 500px;
    border-top: solid 1px #272727;
    padding-top: 15px;
}



/* 各種パーツ */
.read-more {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(images/main/text_read_more01_black01.png) 17px 0 no-repeat,url(images/symbol/icon_arrow01_right_black01.png) 0 0 no-repeat;
    background-size: 70px 13px,5px auto;
}

/* 
h3.contents-title {
    font-size: 28px;
    background: url(images/symbol/line02_black01.png) left bottom no-repeat;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

img.contents-image {
    float: right;
    margin: 5px -130px 0 0;
    vertical-align: bottom;
} */